<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Pulpit Główny</title>
</head>
<body>

<div layout:fragment="content">
  <div class="content-card">
    <h1 class="content-title">
      Money I<span class="dollar-sign-content">$</span>land
    </h1>
    <p class="content-subtitle">
      Zarządzaj środkami, monitoruj inwestycje i zdobywaj wiedzę finansową w jednym miejscu.
    </p>
  </div>
</div>

</body>
</html>