version: '3.8'

services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    hostname: server-authn
    restart: unless-stopped
    ports:
      - "8444:8444"
    volumes:
      - ./nexus-data:/nexus-data

