version: '3.8'

services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8081:8081"
      - "8444:8444"
    volumes:
      - ./nexus-data:/nexus-data

#    environment:
#      - JKS_PASSWORD=changeit
#      - INSTALL4J_ADD_VM_PARAMS=-Xms1200m -Xmx1200m -XX:MaxDirectMemorySize=2G -Dssl.keystore.path=/nexus-data/etc/ssl/keystore.jks -Dssl.keystore.password=changeit -Dssl.key-password=changeit -Dssl.keystore.type=JKS

#volumes:
#  nexus-data:
