services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    hostname: server-auth
    restart: unless-stopped
    ports:
      - "8444:8444"
    healthcheck:
      test: [ "CMD", "curl", "-f", "-k", "https://localhost:8444/service/rest/v1/status" ]
      interval: 10s
      retries: 10
    volumes:
      - ./nexus-data:/nexus-data
    networks:
      - moneyisland-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - moneyisland-network

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    networks:
      - moneyisland-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
      - "8090:8080"
    env_file:
      - .env
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      DYNAMIC_CONFIG_ENABLED: 'true'
    networks:
      - moneyisland-network

  mysql:
    image: mysql:8.0
    container_name: "mysql"
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE_AUTH: ${MYSQL_DATABASE_AUTH}
      MYSQL_USER_AUTH: ${MYSQL_USER_AUTH}
      MYSQL_PASSWORD_AUTH: ${MYSQL_PASSWORD_AUTH}
      MYSQL_DATABASE_FINANCE: ${MYSQL_DATABASE_FINANCE}
      MYSQL_USER_FINANCE: ${MYSQL_USER_FINANCE}
      MYSQL_PASSWORD_FINANCE: ${MYSQL_PASSWORD_FINANCE}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init:/docker-entrypoint-initdb.d
    networks:
      - moneyisland-network

  shared-installer:
      image: maven:3.9.9-eclipse-temurin-21
      container_name: shared-installer
      volumes:
        - ../..:/app
        - ./settings-docker.xml:/usr/share/maven/conf/settings.xml
        - ~/.m2/repository:/root/.m2/repository
      working_dir: /app/modules/shared
      networks:
        - moneyisland-network
      depends_on:
        nexus:
          condition: service_healthy
      command: >
        mvn clean deploy -DskipTests
        -Dmaven.resolver.transport=wagon
        -Dmaven.wagon.http.ssl.insecure=true
        -Dmaven.wagon.http.ssl.allowall=true
        -DaltDeploymentRepository=MoneyIsland-snapshots::default::https://nexus:8444/repository/moneyisland/

networks:
  moneyisland-network:
    driver: bridge
    name: moneyisland-network

volumes:
  mysql_data:

