<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="registerModalFragment" id="registerModalBackdrop" class="modal-backdrop">
    <div class="modal-content">
        <span class="modal-close-btn">&times;</span>
        <h2>Rejestracja</h2>

        <form th:action="@{/oskarinio143/moneyisland/register}" method="post">
            <input type="hidden" name="requestUrl" th:value="${requestUrl}"/>
            <div class="form-group">
                <label for="reg-username">Nazwa użytkownika:</label>
                <input type="text" id="reg-username" name="username" required>
            </div>
            <div class="form-group">
                <label for="reg-email">Email:</label>
                <input type="email" id="reg-email" name="email" required>
            </div>
            <div class="form-group">
                <label for="reg-password">Hasło:</label>
                <input type="password" id="reg-password" name="password" required>
            </div>
            <div class="form-group">
                <label for="reg-password-repeat">Powtórz hasło:</label>
                <input type="password" id="reg-password-repeat" name="confirmPassword" required>
            </div>

<!--            <p th:if="${param.registerError}" class="error-message" th:text="${param.registerError}">-->
<!--                Wystąpił błąd rejestracji.-->
<!--            </p>-->

            <button type="submit">Zarejestruj się</button>

            <div class="register-link">
                <p>Masz już konto? <a href="#" id="switchToLogin">Zaloguj się</a></p>
            </div>
        </form>
    </div>
</div>

</body>
</html>