version: '3.8'

services:
  gateway:
    build:
      context: ../..
      dockerfile: /modules/gateway/docker/Dockerfile
    restart: unless-stopped
    container_name: "gateway"
    environment:
      - JWT_SECRET_BASE64=d63e784e7490fb6beed24b4cab1c65b2a83da4b88bb6a522b65ab493bb279bf8
      - AUTH_CONTAINER=http://auth:8082
      - FINANCE_CONTAINER=http://finance:8083
#      - KAFKA_URL=
#      - NEXUS_URL=
    ports:
      - "8080:8080"
    networks:
      - moneyisland-network

  auth:
    build:
      context: ../..
      dockerfile: /modules/auth/docker/Dockerfile
    restart: unless-stopped
    container_name: "auth"
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_USERNAME=${ADMIN_USERNAME}

      - AUTH_PORT=${AUTH_PORT}
      - JWT_SECRET_BASE64=${JWT_SECRET_BASE64}
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
      - MYSQL_DATABASE_AUTH=${MYSQL_DATABASE_AUTH}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER_AUTH=${MYSQL_USER_AUTH}
      - MYSQL_PASSWORD_AUTH=${MYSQL_PASSWORD_AUTH}

    networks:
      - moneyisland-network

  finance:
    build:
      context: ../..
      dockerfile: /modules/finance/docker/Dockerfile
    restart: unless-stopped
    container_name: "finance"
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}

      - FINANCE_PORT=${FINANCE_PORT}
      - JWT_SECRET_BASE64=${JWT_SECRET_BASE64}
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
      - MYSQL_DATABASE_FINANCE=${MYSQL_DATABASE_FINANCE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER_FINANCE=${MYSQL_USER_FINANCE}
      - MYSQL_PASSWORD_FINANCE=${MYSQL_PASSWORD_FINANCE}
    networks:
      - moneyisland-network

networks:
  moneyisland-network:
    external: true
