version: '3.8'

services:
# Warstwa 1
  gateway:
    build:
      context: ../..
      dockerfile: /modules/gateway/docker/Dockerfile
    restart: unless-stopped
    container_name: "gateway"
    environment:
      - JWT_SECRET_BASE64=${JWT_SECRET_BASE64}
      - GATEWAY_PORT=${GATEWAY_PORT}
      - AUTH_URL=${AUTH_URL}
      - FINANCE_URL=${FINANCE_URL}
    ports:
      - "8080:8080"
    networks:
      - moneyisland-network

# Warstwa 4
  finance:
    build:
      context: ../..
      dockerfile: /modules/finance/docker/Dockerfile
    restart: unless-stopped
    container_name: "finance"
    environment:
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}

      - FINANCE_PORT=${FINANCE_PORT}
      - JWT_SECRET_BASE64=${JWT_SECRET_BASE64}
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
      - MYSQL_DATABASE_FINANCE=${MYSQL_DATABASE_FINANCE}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER_FINANCE=${MYSQL_USER_FINANCE}
      - MYSQL_PASSWORD_FINANCE=${MYSQL_PASSWORD_FINANCE}
    depends_on:
      shared-installer:
        condition: service_completed_successfully
      mysql:
        condition: service_healthy
      kafka:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8083" ]
      interval: 10s
      retries: 30
    networks:
      - moneyisland-network

# Warstwa 5
  auth:
    build:
      context: ../..
      dockerfile: /modules/auth/docker/Dockerfile
    restart: unless-stopped
    container_name: "auth"
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_USERNAME=${ADMIN_USERNAME}

      - AUTH_PORT=${AUTH_PORT}
      - JWT_SECRET_BASE64=${JWT_SECRET_BASE64}
      - MYSQL_DATABASE_URL=${MYSQL_DATABASE_URL}
      - MYSQL_DATABASE_AUTH=${MYSQL_DATABASE_AUTH}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER_AUTH=${MYSQL_USER_AUTH}
      - MYSQL_PASSWORD_AUTH=${MYSQL_PASSWORD_AUTH}
    depends_on:
      finance:
        condition: service_healthy
    networks:
      - moneyisland-network